/.gdbinit
GTAGS
GPATH
GRTAGS
TAGS
autom4te.cache
config.h
include/u8ident.h.bak
libu8ident.a
u8ident.o
u8idnorm.o
u8idscr.o
/test
/test-asan
/Scripts.txt
/ScriptExtensions.txt
/PropertyValueAliases.txt
/IdentifierType.txt
/IdentifierStatus.txt
/confusables.txt
Unicode-Normalize