/.gdbinit
GTAGS
GPATH
GRTAGS
TAGS
autom4te.cache
config.h
include/u8ident.h.bak
libu8ident.a
u8ident.o
u8idnorm.o
u8idscr.o
u8idroar.o
/test
/test-asan
/build*
/Scripts.txt
/ScriptExtensions.txt
/PropertyValueAliases.txt
/DerivedNormalizationProps.txt
/IdentifierType.txt
/IdentifierStatus.txt
/confusables.txt
Unicode-Normalize
libu8ident-*.tar.gz
libu8ident-*.tar.xz
Makefile.in
TODO
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
gconfus.h.in
install-sh
ltmain.sh
m4/
missing
roaring.c
roaring.h
test-driver
u8ident.3
mkroar
*_croar.bin
