name: Github CI
on: [push, pull_request]

#strategy:
#  matrix:
#    os: [ubuntu-14.04, ubuntu-18.04, ubuntu-20.04, ubuntu-latest]
jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        CFLAGS:
          -
          - -march=native -Wall -Wextra -O2
          - -march=native -O3 -flto
          - -march=native -O2 -fsanitize=address,undefined -fno-omit-frame-pointer
          - -m32
        CC:
          - gcc
          - clang
    steps:
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
      with:
        fetch-depth: 1
    #- run: sudo apt-get install perl groff
    - run: autoreconf -fi
    - run: ./configure --enable-confus
    - run: make V=1
    - run: make V=1 check || (cat test-suite.log; false)
    - run: make V=1 check-all
    - if: matrix.CFLAGS == '' && matrix.CC == 'gcc'
      run: make distcheck
    - if: contains(matrix.CFLAGS, '-Wall -Wextra -O2') && matrix.CC == 'clang'
      run: make check-all-combinations
    - name: Prep-Release
      if: matrix.CFLAGS == '' && matrix.CC == 'gcc' && startsWith(github.ref, 'refs/tags/')
      run: make dist pkg && echo ${{ github.sha }} > Release.txt; sha256sum libu8ident-*-x86_64-pc-linux-gnu.tar.gz > linux.sha256
    - name: Release
      continue-on-error: true
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      if: matrix.CFLAGS == '' && matrix.CC == 'gcc' && startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          Release.txt
          linux.sha256
          libu8ident-*-x86_64-pc-linux-gnu.tar.gz
          libu8ident-*.tar.gz
          libu8ident-*.tar.xz
  macOS:
    name: macOS
    runs-on: macOS-latest
    steps:
    - name: checkout
      uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
    - run: brew install autoconf automake libtool m4
    - run: autoreconf -fi
    - run: ./configure --enable-confus
    - run: make
    - run: make check
    - run: make check-all
  mingw:
    name: mingw
    runs-on: windows-latest
    env:
      MSYS2_DIR: msys64
      MSYS2_ARCH: x86_64
      MSYSTEM: MINGW64
      ARCH: win64
      PLATFORM: x64
      #PATH: "C:\%MSYS2_DIR%\%MSYSTEM%\bin;C:\%MSYS2_DIR%\usr\bin;%PATH%"
    steps:
      # see https://github.com/msys2/setup-msys2
    - name: setup-msys2
      uses: msys2/setup-msys2@fb197b72ce45fb24f17bf3f807a388985654d1f2 # v2.29.0
      with:
        path-type: minimal
        update: true
        install: >-
          base-devel
          coreutils
          zip
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-libtool
          mingw-w64-x86_64-perl
          libtool
          autoconf-wrapper
          automake-wrapper
    - run: reg add "HKLM\Software\Microsoft\Windows\Windows Error Reporting" /f /v DontShowUI /d 1
    - run: git config --global core.autocrlf input
    - name: checkout
      uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
    - shell: msys2 {0}
      #run: autoreconf -fi
      run: libtoolize -f && aclocal -I m4 && autoconf && automake --add-missing; autoreconf -fi
      continue-on-error: true
    # msys2 is broken for today
    - shell: msys2 {0}
      run: ./configure --enable-confus
      continue-on-error: true
    - shell: msys2 {0}
      run: make
      continue-on-error: true
    - shell: msys2 {0}
      run: make check
      continue-on-error: true
    - shell: msys2 {0}
      run: make pkg; sha256sum libu8ident-*-x86_64-w64-mingw32.zip > mingw.sha256
      continue-on-error: true
    - name: Release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          mingw.sha256
          libu8ident-*-x86_64-w64-mingw32.zip
  linux-cmake:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
      with:
        fetch-depth: 1
    - run: cmake .
    - run: make
    - run: make test
  macos-cmake:
    runs-on: macOS-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
      with:
        fetch-depth: 1
    - run: cmake .
    - run: make
    - run: make test
  windows-cmake:
    runs-on: windows-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
      with:
        fetch-depth: 1
    #- uses: microsoft/setup-msbuild@v1.1
    - run: cmake .
    - run: cmake --build . --config Release --verbose
    - run: cmake --build . --target RUN_TESTS --config Release --verbose
    # TODO requires now makensis
    - run: cmake --build . --target package --config Release
    # or just: cpack --preset dev-zip
    # currently -G for "Visual Studio 16 2019"
    #- run: msbuild libu8ident.sln
    #- run: Debug\u8idtest
    - name: Release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          libu8ident-*-win64.zip
